.ticket_Card {
  height: auto;
  border-left-color: 10px #83c944;
}
.ticket_Body {
  color: black;
  font-size: 15px;
  line-height: 15px;
}

.ticket_row,
.ticket_item,
.profile_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile_row div:nth-child(2) {
  margin-right: 18px;
}
.ticket_item > img {
  margin-top: -15px;
  margin-right: 5px;
}
.commentIcon {
  margin-right: 6px;
}
.ticket_status {
  margin-top: 6px;
  width: 65vw;
}
.taskname {
  cursor: pointer;
}

.profile_pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
