.App {
  text-align: left;
  height: auto;
  background-image: url('../../assets/login/main_bg.png');
  background-repeat: no-repeat;
}

.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px 30px 100px;
}

.crm_logo {
  height: 120px;
  width: 150px;
}
