.main {
  background-image: url('../../assets//task_list/task_list_bg.png');
  /* background-color: #282c34; */
  background-repeat: repeat-y;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: hidden;
  /* position: fixed; */
}
/* TODO: */
*::-webkit-scrollbar {
  display: none;
}
.main > div {
  margin-top: 20px;
}
.home_logo {
  margin-right: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10vw;
  /* width: 110vw; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  /* background-color: white; */
  width: 90vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.toggle {
  display: flex;
  height: 3vmax;
}
.toggle > p {
  /* color: white; */
  font: 500 2.5vmax 'Poppins', sans-serif;
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  height: 5vh;
  place-items: center;
  width: 100%;
  margin: 0;
  transition: all 0.5s;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.toggleTrue {
  background: linear-gradient(50deg, #8cdb44 35%, #448508 100%);

  color: white;
}

.toggleFalse {
  color: black;
}

.box > div > button {
  background-color: #8cdb44;
  height: 10px;
  width: 8%;
  margin-top: 12px;
  border: none;
  transition: all 0.5s;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  margin-left: 18vw;
}
/* .startClick {
  transform: translateX(250%);
} */

.todayTab,
.monthTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.monthTab {
  transform: translateY(-100%) translateX(-100vmax);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(650%);
}

.centerEdge {
  position: relative;
  background-color: #0d53bf !important;
  top: 20px;
  right: 32px;
  border-radius: 0% !important;
  display: block;
  height: 2vh;
}

.dropdown {
  border: none;
  background-color: white;
  color: black;
  /* padding: 0px 20px; */
  /* width: 30vw; */
  /* font-family: 'FontAwesome', 'Second Font name'; */
}
.dropdown:hover {
  color: black;
  border: none;
}
.dropdown:active,
.dropdown:focus {
  color: black;
  outline: none !important;
  box-shadow: none;
}
.dropdown_img {
  margin-right: 10px;
  margin-left: 5px;
}
.dropdown_user {
  margin-right: 10px;
}
