.main {
  background-image: url('../../assets//task_list/task_list_bg.png');
  /* background-color: #282c34; */
  background-repeat: repeat-y;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* TODO: */
.main::-webkit-scrollbar {
  display: none;
}
.main > div {
  margin-top: 20px;
}
.home_logo {
  margin-right: 50px;
}

/* .tab_text {
  font-size: 12px;
  background: linear-gradient(#8cdb44, #448508);
  color: black;

}
.text {
  color: black;
}
.nav {
  color: white;
} */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 9vw;
}

.container {
  /* width: 100vw;
  height: 100vh;
  max-width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(231, 231, 231); */
  /* position: fixed; */
  /* top: 0%;
  left: 0; */
}

.box {
  /* background-color: white; */
  width: 90vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.toggle {
  display: flex;
  height: 3vmax;
}
.toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 400 2vmax 'Roboto';
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  height: 5vh;
  place-items: center;
  width: 100%;
  margin: 0;
  transition: all 0.5s;
}

.toggleTodo {
  background-color: #8cdb44;
}

.toggle > p:hover {
  color: rgb(26, 68, 184);
}

.box > div > button {
  background-color: #8cdb44;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
  /* clip-path: polygon(50% 100%, 100% 0, 0 0); */
}

.todayTab,
.monthTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.monthTab {
  transform: translateY(-100%) translateX(-100vmax);
}

/* .loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(179, 66, 46);
} */

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

.centerEdge {
  position: relative;
  background-color: #0d53bf !important;
  top: 20px;
  right: 32px;
  border-radius: 0% !important;
  display: block;
  height: 2vh;
}
