.ticket_main {
  width: 100%;
}

.status_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.status_bar > p {
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.todo {
  border: 1px solid #136bf1;
  background: linear-gradient(50deg, #0d53bf 35%, #136bf1 100%);
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.inProcess {
  border: 1px solid #f4793b;
  background: linear-gradient(50deg, #e7692a 35%, #f4793b 100%);
  font-family: 'Poppins', sans-serif;
}
.inProcess > span,
.todo > span {
  width: 20px;
  border-radius: 50%;
  margin-left: 4px;
}
.todo > span {
  background: #10469a;
}
.inProcess > span {
  background: #7a320e;
}
.edge {
  position: relative;
  background-color: #0d53bf !important;
  top: 20px;
  left: 7vw;
  border-radius: 0% !important;
  display: block;
  height: 2vh;
  clip-path: polygon(49% 100%, 0 0, 100% 0);
  transition: ease-in-out 0.1s;
}
.edge2 {
  position: relative;
  background-color: #e7692a !important;
  top: 20px;
  right: 12vw;
  border-radius: 0% !important;
  display: block;
  height: 2vh;
  clip-path: polygon(49% 100%, 0 0, 100% 0);
  transition: ease-in-out 0.1s;
}
.all_ticket {
  background-color: white;
  padding: 5px 10px;
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 80vh;
}
.no_ticket {
  max-height: 80vh;
}
.Emptymessage {
  color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}
